<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <div class="brand">
        <a href="/flats">Airbnb</a>
      </div>
      <div class="create">
        <a class="btn btn-airbnb" href="/flats/new">New flat</a>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
